label {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  margin: 1rem;
  width: 180px;
  text-align: center;
}

input[type="number"] {
  width: 2rem;
  text-align: center;
  color: gray;
  padding: 0.2rem;
}

button {
  padding: 0.5rem 1rem;
  color: white;
  background-color: rgb(21, 20, 20);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#password {
  color: black;
  font-size: 1rem;
  padding: 0.3rem;
  display: none;
  cursor: pointer;
}

.tooltip {
  display: inline-block;
  visibility: hidden;
  width: 60px;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  bottom: 105px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 1;
}
